<h1>Welcome to your profile!</h1>

<img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier">

<h4><%= @user.name %> </h4>


<p>email cadastrado:<%= @user.email%></p>
<p> Password: *********</p>

<br>
<%= link_to 'Edit', edit_user_registration_path, class: 'btn btn-danger mt-1 mb-1' %>
