<div class="container mt-2 text-center">
<h3>Compra efetuada com sucesso!</h3>

<p><strong>Número do pedido:</strong> <%= @order.id %></p>

<%= link_to 'Home', super_powers_path, class: 'btn btn-sm btn-danger' %>
</div>
