 <div class="banner mt-5" style="background-image: url(<%= asset_url "banner-photo.png" %>); background-size: cover; height: 550px;" >
    <div class="container mt-5 d-flex justify-content-center align-items-center h-100">
      <div class="text-banner">
        <h3>Superpower Store</h3>
        <h1>If you're not happy, change it!</h1>
        <%= link_to "Learn More", super_powers_path, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>

  <!-- code a "How it works" section -->
  <div class="container">
    <h2 class="text-center">How it works</h2>
      <div class="card text-center">
      <div class="card-header">
      </div>
      <div class="card-body">
        <h5 class="card-title">Sign-up</h5>
        <p class="card-text">Create your account and get started. </p>
        <%= link_to 'Get started TODAY', new_user_registration_path, class: "card-link", class: 'btn btn-danger' %>
      </div>
      <div class="card-footer text-muted">
      </div>
    </div>
    <div class="card text-center">
      <div class="card-header">
      </div>
      <div class="card-body">
        <h5 class="card-title">Decide if you want to sell, buy or BOTH</h5>
        <p class="card-text">As easy as breathing, you can have a brand new Superpower, or extra cash!</p>
        <%= link_to 'Check out our powers available', super_powers_path, class: "card-link", class: 'btn btn-danger' %>
      </div>
      <div class="card-footer text-muted">
      </div>
    </div>
    <div class="card text-center">
      <div class="card-header">
      </div>
      <div class="card-body">
        <h5 class="card-title">Stress free</h5>
        <p class="card-text">Finally you will be able to be the best version of yourself.</p>
      </div>
      <div class="card-footer text-muted">
      </div>
    </div>
</div>
